<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @* <link rel="stylesheet" href="~/css/produtos.css" /> *@
@*     <script src="~/js/auto.js"></script> *@
    <script src="~/js/site.js"></script>

</head>
<body>

    <div class="container">
        @RenderBody() <!-- Aqui o conteúdo das views será renderizado -->
    </div>

</body>
</html>
