@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
}
/*INCIO DO HEADER*/
header {
  width: 100%;
  background-color: #d9d9d9;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 30px;
  border-bottom: #e37439 solid 4px;
  border-right: #e37439 solid 4px;
  border-bottom-right-radius: 20px;
}

.logo {
  filter: contrast(100);
}

#busca-cont {
  background-color: #000;
  width: 450px;
  height: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
}

#busca {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 100%;
  background-color: transparent;
  color: #d9d9d9;
  font-size: 30px;
  border: none;
}

#lupa-busca {
  background-color: #000;
  color: #d9d9d9;
  font-size: 30px;
  text-align: center;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: solid;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0;
}

#lupa-busca:hover {
  background-color: #696969;
}
/*FIM DO HEADER*/
/*INCIO DO INFOS*/
.infos {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-top: 20px;
}

#info-1,
#info-2,
#info-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  font-weight: bold;
  color: #000;
}

.infos i {
  font-size: 40px;
  color: #e37439;
  cursor: pointer;
}

.infos i:hover {
  transform: scale(1.4);
  transition: all 1.4s ease;
  color: #000;
}
/*FIM DO INFOS*/
/*INCIO DO BODY*/
body {
  background-color: #696969;
}
/*FIM DO BODY*/
/*INCIO DO MENU LATERAL*/
.menu-lateral {
  width: 70px;
  height: 100%;
  background-color: #d9d9d9;
  padding: 40px 0 40px 1%;
  box-shadow: 5px 0 0 #e37439;
  border-top-right-radius: 20px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.6s;
  z-index: 9999;
}

.menu-lateral.expandir {
  width: 300px;
}

.btn-exp {
  width: 100%;
  padding-left: 10px;
}

.btn-exp > i {
  color: #000000;
  font-size: 34px;
  cursor: pointer;
}

ul li.ativo {
  background-color: #e37439;
}

ul {
  height: 100%;
  list-style-type: none;
}
ul li.item-menu {
  transition: 0.6s;
}

ul li.item-menu:hover {
  background-color: #e37439;
}

ul li.item-menu a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  margin-left: 50px;
  transition: 0.9s;
  opacity: 0;
  font-weight: bold;
}

.menu-lateral.expandir .txt-link {
  margin-left: 20px;
  opacity: 1.5;
}
ul li.item-menu a .icon i {
  font-size: 30px;
  margin-left: 5px;
}
/*FIM DO MENU LATERAL*/
/*INCIO DO IMG CENTRAL*/

.img-central {
  margin-left: 12%;
  margin-top: 50px;
  position: relative;
  width: 80%;
  height: 70vh;
  margin-bottom: 70px;
}

#imgc {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  image-resolution: 300dpi;
  filter: blur(0);
  object-fit: cover;
  transition: filter 0.3s ease;
  cursor: pointer;
}

#span-central {
  opacity: 0;
  padding-top: 13%;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 329px;
  text-align: center;
  transition: font-size 0.8s ease;
  font-size: 0px;
  font-weight: bold;
  color: #ffffffa6;
}

.img-central:hover #span-central {
  opacity: 5;
  font-size: 30px;
  transition: all 3.8s ease;
  color: #fff;
}

.img-central:hover #imgc {
  filter: blur(2px);
}
/*FIM DO IMG CENTRAL*/
/*INICIO DOS CARDS*/
.main-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin-left: 2%;
}

.card {
  background-color: rgb(201, 83, 4);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22%;
  height: 60vh;
  border-radius: 5px;
}

.img-card {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-card img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

#card-item {
  width: 100%;
  border-radius: 5px;
  transition: 1.5s ease;
}

.nome {
  position: relative;
  z-index: 999px;
  color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1.3s ease-in;
  text-align: center;
  overflow: hidden;
  will-change: background-color, heigth, border-radius, overflow;
}

#cor {
  color: transparent;
  transition: color 1.5s ease-in;
}
#cor,
span {
  font-size: large;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Changa", sans-serif;
}

.card:hover img {
  filter: blur(1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .nome {
  background-color: rgb(201, 83, 4);
  height: 100px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: unset;
  transition: 1.1s ease-out;
  transform: translateY(-25%);
}

.card:hover #cor {
  color: #fff;
  transition: color 1.8s ease-out;
  font-size: 12px;
}
/*FIM DOS CARDS*/
/*INCIO DO NEWS*/
.news {
  width: 100%;
  height: 950px;
  margin: 50px 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.txt-news-1 {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  width: 70%;
  height: 250px;
  border-radius: 5px;
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: solid 2px #e37439;
  border-right: solid 3px #e37439;
  text-align: center;
}

.carrosel-news {
  background-color: #000;
  width: 70%;
  height: 400px;
  position: relative;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: solid 2px #e37439;
  border-right: solid 3px #e37439;
}

#btn-volta,
#btn-avanca {
  background: transparent;
  border: none;
  font-size: 95px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  display: flex;
  color: #fff;
  z-index: 999;
}

#btn-volta {
  left: 20px;
}

#btn-volta:hover {
  color: #e37439;
  transform: scale(1.2);
  transition: all 0.8s ease-in-out;
}
#btn-avanca {
  right: 20px;
}

#btn-avanca:hover {
  color: #e37439;
  transform: scale(1.2);
  transition: all 0.8s ease-in-out;
}

#img-carrosel {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 3px 5px;
  image-rendering: optimizeQuality;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

#img-carrosel.fade-out {
  opacity: 0.8;
  transition: all 1s ease-in-out;
}

.txt-news-2 {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  width: 70%;
  height: 200px;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: solid 2px #e37439;
  border-right: solid 3px #e37439;
  text-align: center;
}

/*FIM DO NEWS*/
/*INCIO DO FOOTER*/
footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #d9d9d9;
  bottom: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: solid 6px #e37439;
  border-right: solid 6px #e37439;
  padding: 1%;
  font-size: 35px;
  font-weight: bold;
}

.f1,
.f2,
.f3 {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f1 {
  text-align: center;
  flex-direction: column;
  font-size: 20px;
}

#logo-fot {
  height: 70%;
  cursor: pointer;
}

.f2 {
  flex-direction: column;
  font-size: 45px;
}

.icons-f2 {
  font-size: 50px;
  display: flex;
  gap: 50px;
  cursor: pointer;
}
.f3 {
  flex-direction: column;
  font-size: 45px;
}

#i-1:hover,
#i-2:hover,
#i-3:hover {
  transform: scale(1.1);
  color: #e37439;
  transition: all 1.1s ease;
}

.f3 {
  font-size: 40px;
}
/*FIM DO FOOTER*/

/*TELA DE CADASTRO*/
.cad-background {
  background-color: #d9d9d9;
  width: 70%;
  height: 90vh;
  position: relative;
  margin-top: 2%;
  left: 15%;
  border-radius: 10px;
  border-bottom: #e37439 solid;
  border-right: #e37439 solid;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cad-pt1 {
  border-radius: 3px;
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cad-pt1 img {
  filter: contrast(100);
  height: 40%;
  image-rendering: optimizeQuality;
}

.cad-pt1 form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -35%;
}

.cad-pt1 h1 {
  text-align: center;
  font-size: 23px;
}

.cad-pt1 form input {
  width: 80%;
  padding: 1px;
  padding-left: 6px;
  border-radius: 3px;
  font-size: 16px;
  margin-left: 10%;
}

.cad-pt1 button {
  border-radius: 6px;
  border: none;
  width: 50%;
  height: 40px;
  margin-left: 25%;
  margin-top: 10px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #696969;
  transition: all 0.8s ease-in-out;
}

.cad-pt1 button:hover {
  font-size: 30px;
  color: #fff;
  transition: all 0.8s ease-in-out;
}
.cad-pt2 {
  border-radius: 3px;
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#g-1,
#g-2,
#g-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
  color: #000;
  gap: 10px;
  font-weight: bold;
}

.cad-pt2 span {
  font-size: 25px;
}

#g-1:hover i,
#g-2:hover i,
#g-3:hover i {
  color: #e37439;
  transition: all 0.9s ease-in-out;
}
/*FIM DA TELA DE CADASTRO*/

/*INICIO DA AREA DO CLIENTE*/
.perfil-view {
  display: flex;
  align-items: center;
  padding-left: 10%;
  gap: 40px;
  width: 100%;
  height: 100vh;
}

.perfil {
  width: 50%;
  height: 90vh;
  border: #000 solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-perfil {
  font-size: 100px;
  cursor: pointer;
}

.info-perfil {
}

.infos-compras {
  width: 40%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #000 solid;
}

/*FIM DA AREA DO CLIENTE*/

/*RESPONSIVIDADE INDEX*/

@media screen and (max-width: 460px) {
  /*header*/
  header {
    height: 125px;
  }
  .logo img {
    width: 4rem;
    height: 4rem;
  }
  #busca-cont {
    width: 185px;
    height: 23px;
  }
  #lupa-busca {
    font-size: 15px;
  }
  /*menu lateral*/
  .menu-lateral {
    width: 45px;
  }
  .menu-lateral.expandir {
    width: 148px;
  }
  .menu-lateral .btn-exp i {
    font-size: 28px;
  }
  span {
    font-size: 9px;
  }
  ul li.item-menu a .icon i {
    font-size: 23px;
  }
  /*infos*/
  .infos {
    display: none;
  }
  /*img central*/
  .img-central {
    margin-left: 16%;
    margin-top: 5%;
    width: 80%;
    height: 10vh;
  }
  #imgc {
    height: 150px;
  }
  /*main card*/

  .main-card {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
  }
  .main-card .card {
    width: 298px;
    height: 150px;
  }
  .main-card .card .img-card img {
    width: 50px;
    height: 50px;
  }
  .main-card .card .nome {
    height: 40px;
    width: 100%;
    font-size: 10px;
  }
  #cor {
    display: none;
  }
  .card:hover .nome {
    display: none;
  }

  /*News*/
  .news {
    margin-top: 2%;
    height: 580px;
    justify-content: space-between;
  }
  .txt-news-1,
  .txt-news-2 {
    margin-top: 2%;
    margin-left: 13%;
    width: 300px;
    height: 200px;
  }
  #txt-1,
  #txt-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  /*Carrosel*/
  .carrosel-news {
    width: 298px;
    height: 300px;
    margin-left: 13%;
  }
  #btn-volta,
  #btn-avanca {
    font-size: 40px;
  }
  /*footer*/
  footer {
    margin-left: 7%;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
  }
  #logo-fot {
    width: 10vh;
    height: 10vh;
  }
  .icons-f2 {
    font-size: 30px;
  }

  .f1,
  .f2,
  .f3 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
